<footer class="footer">
  <small>
    Copyright &copy; 2012 TargetLawro. Designed By 
	<a href="mailto:jpmcfeely@googlemail.com">John Paul Mc Feely </a>. 
	All rights reserved. 
  </small>  
</footer>
