<tr>
  <td></td>
  <td></td>
  <td class="team"><%= f.collection_select :home_team, Team.all, :name, :name, :include_blank=>"-Select Home Team-" %></td>
  <td class="team"><%= f.collection_select :away_team, Team.all, :name, :name, :include_blank=>"-Select Away Team-" %></td>
  <%= f.fields_for :prediction do |builder| %>
    <%= render 'prediction_fields', :f => builder %>
  <% end %>
</tr>

